extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/main.css")
  link(rel="stylesheet" href="/stylesheets/navbar.css")
  link(rel="stylesheet" href="/stylesheets/strawberry.css" id="flavor")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content
    div.navbar
        div.navbar_hamburger Logout
            a(href="/logout")
                img(src="../images/hamburger-white.png" style="width: 30px; opacity: .80")
               
        //- div.navbar_searchbar
        div
            //- img(src="../images/search.png" class="search_glass" style="width: 35px; opacity: .80")
            h1= 'Welcome, ' + user.username
        div.navbar_theme_wrapper
            div.fruit_red
                a(href="#" id="apple")
                    img(src="../images/apple.png" class="navbar_themes")
            div.fruit_orange
                a(href="#" id="lemon")
                    img(src="../images/lemon.png" id="lemon" class="navbar_themes")
            div.fruit_yellow
                a(href="#" id="orange")
                    img(src="../images/orange.png" id="orange" class="navbar_themes")
            div.fruit_green
                a(href="#" id="grape")
                    img(src="../images/grape.png" id="grape" class="navbar_themes")
            div.fruit_blue
                a(href="#" id="strawberry")
                    img(src="../images/strawberry.png" id="strawberry" class="navbar_themes")

    div.main
        div.main_left
            img(src="../images/default-logo.png" id="logo" class="logoSmall")
            div.lists
                p.main_left_menu_title Lists
                ul
                    if !userId
                        li(class='li-left-menu' onclick='location.href="../users"') All
                        each listName in lists
                            li(class='li-left-menu' onclick=`location.href="../lists/${listName.id}"`)= listName.listName
                        li(class='li-left-menu' onclick=`location.href="../lists/${trashList.id}"`) Trash
                    else 
                        li(class='li-left-menu' onclick='location.href="../demo"') All
                        each listName in lists
                            li(class='li-left-menu' onclick=`location.href="../lists/${listName.id}"`)= listName.listName
                        li(class='li-left-menu' onclick=`location.href="../lists/${trashList.id}"`) Trash
                div.new_list
                form(method="post" action=`/lists`)
                    input(type="text" name="listName" class="add_list_form" placeholder="CREATE LIST...")
                    button(type="submit" class="saveButton") Add
                br
                form(method="post" action="/lists/delete")
                    select(name="listName" class="add_list_form")
                        each listName in lists
                            option(value=listName.id)= listName.listName
                    button(type="submit" class="saveButton") Delete List


        div.main_right
            div.main_right_topbox
                div.inbox
                    p(class="sum")= allTasks.length
                        if currentListName
                            p.tasks_incomplete= 'Total Tasks In '+ currentListName.listName
                        else 
                            p.tasks_incomplete Total Tasks
            div.main_right_bottombox
                form(action=`/tasks` method="post")
                    input(type="text" name="taskContent" placeholder="ADD TASK HERE ..." class="add_task_form")
                    select(name="listName" class="dropdown")
                        each listName in lists
                            option(value=listName.id)= listName.listName
                    br
                    button(type="submit" class="saveButton") Save to List
                if allTasks
                    div.tasks
                        ol(id='task-list')
                            each task in allTasks
                                li(class="task")=task.taskContent
                                //- button(type="submit" class="saveButton edit") Edit
                                //- button(type="submit" class="saveButton test") Test

