extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/main.css")
  link(rel="stylesheet" href="/stylesheets/navbar.css")
  link(rel="stylesheet" href="/stylesheets/strawberry.css" id="flavor")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)
  script(src="/javascripts/manage-tasks.js" type="module" defer)
  script(src="/javascripts/manage-lists.js" type="module" defer)
  script(src="/javascripts/delete-tasks.js" type="module" defer)

block content
    div.navbar
        div.navbar_hamburger Logout
            a(href="/users/logout")
                img(src="../images/hamburger-white.png" style="width: 30px; opacity: .80")
               
        //- div.navbar_searchbar
        div
            //- img(src="../images/search.png" class="search_glass" style="width: 35px; opacity: .80")
            h1= 'Welcome, ' + user.username
        div.navbar_theme_wrapper
            div.fruit_red
                a(href="#" id="apple")
                    img(src="../images/apple.png" class="navbar_themes")
            div.fruit_orange
                a(href="#" id="lemon")
                    img(src="../images/lemon.png" id="lemon" class="navbar_themes")
            div.fruit_yellow
                a(href="#" id="orange")
                    img(src="../images/orange.png" id="orange" class="navbar_themes")
            div.fruit_green
                a(href="#" id="grape")
                    img(src="../images/grape.png" id="grape" class="navbar_themes")
            div.fruit_blue
                a(href="#" id="strawberry")
                    img(src="../images/strawberry.png" id="strawberry" class="navbar_themes")

    div.main
        div.main_left
            img(src="../images/default-logo.png" id="logo" class="logoSmall")
            div.lists
                p.main_left_menu_title Lists
                ul
                    li(class='li-left-menu' onclick='location.href="../profile"') All
                        each listName in lists
                            li(class='li-left-menu' onclick=`location.href="../lists/${listName.id}"` value=listName.id)= listName.listName
                        li(class='li-left-menu' onclick=`location.href="../lists/${trashList.id}"`) Trash
                form(method="post" action=`/lists`)
                    input(type="text" name="listName" class="add_list_form" placeholder="CREATE LIST...")
                    button(type="submit" class="saveButton") Add
                br
                form()
                    select(name="listName" class="add_list_form left-li-select")
                        each listName in lists
                            option(value=listName.id class='list-dropdown-items')= listName.listName
                    button( class="saveButton" id='delete-list-button') Delete List


        //- FROM LISTS.JS
        div.main_right
            div.main_right_topbox
                div.inbox
                    p(class="sum")= allTasks.length
                        if currentListName
                            p(class='tasks_incomplete' id=currentListName.id)= 'Total Tasks In '+ currentListName.listName
                        else 
                            p(class='tasks_incomplete') Total Tasks In All
            div.main_right_bottombox
                if currentListName
                    h3(id='create-task-error' style="margin-left: 35px; display:none") Task can't be empty. Please try again.
                    form(class='select-add-task-form')
                        input(type="text" name="taskContent" placeholder=`ADD TASK TO ${currentListName.listName.toUpperCase()} HERE ...` class="add_task_form add-task-input" id=currentListName.id)
                        //- select(name="listName" class="dropdown")
                        //-     each listName in lists
                        //-         option(value=listName.id)= listName.listName
                        //- br
                        button(type="submit" class="saveButton add-task-button" style="display: none")
                if allTasks
                    div.tasks
                        ol.ordered-list
                            each task in allTasks
                                //- NEED ID TO MSTCH USERLISTID IN ORDER TO DELETE IF LIST IS DELETED
                                div.task-container
                                    div(class='task-div' id=task.userListId)
                                        li(class="task")=task.taskContent
                                        button(type="submit" class="saveButton open-edit") v
                                    div(class='edit-buttons-div' style="display: none")
                                        button(class="saveButton delete-button" value=task.id) Delete
                                        button(class="saveButton close-edit-buttons-div") ^

